.buttonSystem {
  border-radius: 30px;
  border: none;
  background-color: #595959;
  /* background-color: #e1001e; */
  color: #ffffff;
  width: 130px;
  font-size: 16px;
  letter-spacing: 3px;
  height: 35px;
}

.buttonSystemRed {
  border-radius: 30px;
  border: none;
  background-color: #e1001e;
  color: #ffffff;
  width: 130px;
  font-size: 16px;
  letter-spacing: 3px;
  height: 35px;
}

.buttonSystem:hover {
  cursor: pointer;
  scale: 105%;
  transition: 300ms;
}

.buttonSystemRed:hover {
  cursor: pointer;
  scale: 105%;
  transition: 300ms;
}

@media (max-width: 710px) {
  .buttonSystem {
    width: 110px;
    font-size: 14px;
  }
  .buttonSystemRed {
    width: 110px;
    font-size: 14px;
  }
}

@media (max-width: 560px) {
  .buttonSystem {
    width: 150px;
    font-size: 16px;
  }
  .buttonSystemRed {
    width: 150px;
    font-size: 16px;
  }
}
